<!DOCTYPE html>
<html>
    <head>
        <title> christine's blog </title>
    </head>
    <body>
        <header>
            <h1> christine's blog </h1>
        </header>

        <article> 
            <time> published: 08/03/2022 </time>
            <h2> <a href = ""> my first post</a></h2>
            <p> this is day 2 of working on this blog app. debugging the "template not found" error took a while. </p>
        </article>

        <article>
            <time> published: 08/03/2022 </time>
            <h2> <a href = ""> my second post</a></h2>
            <p> this is super cool! </p>
        </article>
    </body>
</html>